{% extends "template.html" %}

{% block content %}

  <div id="header" style="z-index: 1;">
    <div class="container">

        <h1><a href="/">Kaplan Pathways</a></h1>
        <h2>Shape your <span>future</span>, shape the <span>world</span></h2>

        <div class="social-links">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>

    </div>
  </div>

{% endblock %}